.env
__pycache__/
*.pyc
.venv/
venv/
reports
screenshots/
testcases/
test_results/
recordings/
apks/
screenshots_debug/
game_screenshots
data
*.log
window_dump.xml
screenshot.png
credentials/
credentials.json
.DS_Store
cooptd.apk
frontend/node_modules/
frontend/dist/
dist/
